.container {
    text-align: center;
}

a.btn {
    margin: 30px 0px 50px 0px;
}

span.label, span.badge, span.date {
    padding: 20px;
    font-size: 24pt;
}

tr.caption {
    font-weight: bold;
    color: #333333;
}

.group {
    margin: 30px 0px;
}

.station {
    margin: 30px 0px;
}

.station table {
    margin: 0px auto;
    width: 100%;
}

.station td {
    width: 33%;
    text-align: center;
}

.date {
    display: none;
}

.error {
    color: #B94A48
}